<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>CarINFO</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<header>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="/home">CarINFO<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li><a href="home">home</a></li>
									<li><a href="/login">Login</a></li>
				                    <li class="scroll"><a href="#contact">contact</a></li>
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

			<div class="container">
				<div class="welcome-hero-txt">
					<h2> Comparez et explorez les voitures avant d’acheter</h2>
					<p>
						Consultez les fiches techniques complètes, les performances et les avis. 
					</p>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="model-search-content">
							<div class="row">
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select color</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">color</option><!-- /.option-->

												<option value="red">Red</option><!-- /.option-->

												<option value="blue">Blue</option><!-- /.option-->
												<option value="black">Black</option><!-- /.option-->
												<option value="white">White</option><!-- /.option-->
												<option value="silver">Silver</option><!-- /.option-->
												<option value="green">Green</option><!-- /.option-->
												<option value="yellow">Yellow</option><!-- /.option-->
												<option value="orange">Orange</option><!-- /.option-->
												<option value="purple">Purple</option><!-- /.option-->
												<option value="brown">Brown</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>body style</h2>
										<div class="model-select-icon">
											<select class="form-control">
											<option value="default">style</option><!-- /.option-->

											<option value="suv">SUV</option><!-- /.option-->

											<option value="sedan">Sedan</option><!-- /.option-->

											<option value="hatchback">Hatchback</option><!-- /.option-->

											<option value="coupe">Coupe</option><!-- /.option-->

											<option value="convertible">Convertible</option><!-- /.option-->

											<option value="truck">Truck</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select make</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">make</option><!-- /.option-->

												<option value="toyota">toyota</option><!-- /.option-->
												<option value="ford">ford</option><!-- /.option-->
												<option value="bmx">bmx</option><!-- /.option-->
												<option value="audi">audi</option><!-- /.option-->
												<option value="mercedes">mercedes</option><!-- /.option-->
												<option value="tesla">tesla</option><!-- /.option-->
												<option value="honda">honda</option><!-- /.option-->
												<option value="hyundai">hyundai</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>Number of ch</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">CH</option><!-- /.option-->

												<option value="100">0 à 100</option><!-- /.option-->
												<option value="200">100 à 200</option><!-- /.option-->
												<option value="300">200 à 300</option><!-- /.option-->
												<option value="400">300 à 400</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select model</h2>
										<div class="model-select-icon">
											<select class="form-control">

												<option value="default">model</option><!-- /.option-->

												<optgroup label="Toyota">
													<option value="corolla">Corolla</option>
													<option value="camry">Camry</option>
													<option value="rav4">RAV4</option>
													<option value="supra">Supra</option>
													<option value="yaris">Yaris</option>
												</optgroup>
												<optgroup label="Ford">
													<option value="mustang">Mustang</option>
													<option value="f-150">F-150</option>
													<option value="explorer">Explorer</option>
													<option value="focus">Focus</option>
													<option value="edge">Edge</option>
												</optgroup>
												<optgroup label="BMW">
													<option value="series-3">Series 3</option>
													<option value="series-5">Series 5</option>
													<option value="x5">X5</option>
													<option value="m4">M4</option>
													<option value="i8">i8</option>
												</optgroup>
												<optgroup label="Audi">
													<option value="a3">A3</option>
													<option value="a4">A4</option>
													<option value="q5">Q5</option>
													<option value="r8">R8</option>
													<option value="tt">TT</option>
												</optgroup>
												<optgroup label="Mercedes">
													<option value="a-class">A-Class</option>
													<option value="c-class">C-Class</option>
													<option value="e-class">E-Class</option>
													<option value="gla">GLA</option>
													<option value="gle">GLE</option>
												</optgroup>
												<optgroup label="Tesla">
													<option value="model-s">Model S</option>
													<option value="model-3">Model 3</option>
													<option value="model-x">Model X</option>
													<option value="model-y">Model Y</option>
													<option value="cybertruck">Cybertruck</option>
												</optgroup>
												<optgroup label="Honda">
													<option value="civic">Civic</option>
													<option value="accord">Accord</option>
													<option value="cr-v">CR-V</option>
													<option value="hr-v">HR-V</option>
													<option value="nsx">NSX</option>
												</optgroup>
												<optgroup label="Hyundai">
													<option value="i30">i30</option>
													<option value="tucson">Tucson</option>
													<option value="santa-fe">Santa Fe</option>
													<option value="kona">Kona</option>
													<option value="elantra">Elantra</option>
												</optgroup>

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>select price</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">price</option><!-- /.option-->

											  	<option value="$0.00">$0.00</option><!-- /.option-->

											  	<option value="$0.00">$0.00</option><!-- /.option-->
											  	<option value="$0.00">$0.00</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="single-model-search text-center">
										<button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
											search
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

</header>


<div style="height: 250px;"></div>


<body>
{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Nos Modèles</h1>
        <div style="height: 50px;"></div>
        <div class="row">
            {% for car in cars %}
                <div class="col-md-4 mb-4">
						<!-- From Uiverse.io by ilkhoeri --> 
<button class="action_has has_liked like-btn" data-id="{{ car.id }}" aria-label="like" type="button">
  <span data-icon="">
    <svg
      data-icon="aoeri"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke="currentColor"
      fill="none"
    >
      <path
        d="m8.05,11.99c0-.84.28-1.07,1.2-1.25,1.6-.31,2.35-.74,3.14-1.54,1.19-1.21,1.58-1.97,2.18-3.24.66-1.69,1.55-2.82,3.04-2.76.9.03,2.33.8,1.67,2.72-.31.9-1.98,3.61-2.23,4.23-.18.46.4.8.8.8h2.5c1.2,0,2.2,1,2.2,2.2l-1.1,5.6c-.3,1.5-1.02,2.23-2.2,2.2h-7.6c-2,0-3.6-1.6-3.6-3.6v-5.35Z"
        data-d="thumb"
      ></path>
      <path
        d="m5.4,19.9c0,.6-.5,1.1-1.1,1.1h-1c-1,0-1.9-.9-1.9-1.9v-6.3c0-1,.9-1.9,1.9-1.9h.9c.7,0,1.2.6,1.2,1.2v7.7Z"
        data-d="sleeves"
      ></path>
    </svg>
  </span>
  <span class="like-count" id="like-count-{{ car.id }}">0</span>
</button>

<script>
document.querySelectorAll(".like-btn").forEach(button => {
    const carId = button.getAttribute("data-id");
    const likeCount = document.getElementById(`like-count-${carId}`);

    // Charger le nombre de likes au chargement de la page
    fetch(`/cars/${carId}/likes`)
        .then(response => response.json())
        .then(data => {
            likeCount.textContent = data.likes;
            if (data.liked) {
                button.classList.add("liked");
            }
        });

    button.addEventListener("click", () => {
        fetch(`/cars/${carId}/like`, {
            method: "POST",
            headers: {"Content-Type": "application/json"},
        })
        .then(response => response.json())
        .then(data => {
            button.classList.toggle("liked", data.liked);
            likeCount.textContent = data.likes;
        });
    });
});
</script>
					<button class="card shadow-sm" onclick="window.location.href='/cars/{{ car.id }}'" style="border: none; background: none; padding: 0; text-align: left; width: 100%;">
						<img src="{{ car.image }}" class="card-img-top" alt="{{ car.brand }} {{ car.model }}">
						<div class="card-body">
							<h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
							<p class="card-text"><strong>Type :</strong> {{ car.type }}</p>
							<p class="card-text"><strong>Couleur :</strong> {{ car.color }}</p>
							<p class="card-text"><strong>Puissance :</strong> {{ car.horsepower }} ch</p>
							<p class="card-text"><strong>Prix :</strong> {{ car.price }} €</p>
						</div>
					</button>
                </div>
            {% else %}
                <p class="text-center">Aucune voiture disponible.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

</body>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/cars">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    </ul>
</nav>

<div style="height: 150px;"></div>

<footer>

<!--brand strat -->
		<section id="brand"  class="brand">
			<div class="container">
				<div class="brand-area">
					<div class="owl-carousel owl-theme brand-item">
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br1.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br2.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br3.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br4.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br5.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br6.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->

			</div><!--/.container-->

		</section><!--/brand-->	
		<!--brand end -->

		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end -->

		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html">carvilla</a>
								</div>
								<p>
									Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
								</p>
								<div class="footer-contact">
									<p>info@themesine.com</p>
									<p>+1 (885) 2563154554</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>about devloon</h2>
								<ul>
									<li><a href="#">about us</a></li>
									<li><a href="#">career</a></li>
									<li><a href="#">terms <span> of service</span></a></li>
									<li><a href="#">privacy policy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>top brands</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="#">BMW</a></li>
											<li><a href="#">lamborghini</a></li>
											<li><a href="#">camaro</a></li>
											<li><a href="#">audi</a></li>
											<li><a href="#">infiniti</a></li>
											<li><a href="#">nissan</a></li>
										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="#">ferrari</a></li>
											<li><a href="#">porsche</a></li>
											<li><a href="#">land rover</a></li>
											<li><a href="#">aston martin</a></li>
											<li><a href="#">mersedes</a></li>
											<li><a href="#">opel</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>news letter</h2>
								<div class="footer-newsletter">
									<p>
										Subscribe to get latest news  update and informations
									</p>
								</div>
								<div class="hm-foot-email">
									<div class="foot-email-box">
										<input type="text" class="form-control" placeholder="Add Email">
									</div><!--/.foot-email-box-->
									<div class="foot-email-subscribe">
										<span><i class="fa fa-arrow-right"></i></span>
									</div><!--/.foot-email-icon-->
								</div><!--/.hm-foot-email-->
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
</footer>

<style>

body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: #333;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: white;
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    list-style: none;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #007bff;
    border: 1px solid #007bff;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.pagination .page-link:hover {
    background-color: #007bff;
    color: white;
}

/* From Uiverse.io by ilkhoeri */ 
.action_has {
  --color: 0 0% 60%;
  --color-has: 211deg 100% 48%;
  --sz: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--sz) * 2.5);
  width: calc(var(--sz) * 2.5);
  padding: 0.4rem 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid hsl(var(--color));
}

.has_liked svg,
.has_saved svg {
  overflow: visible;
  height: calc(var(--sz) * 1.75);
  width: calc(var(--sz) * 1.75);
  --ease: cubic-bezier(0.5, 0, 0.25, 1);
  --zoom-from: 1.75;
  --zoom-via: 0.75;
  --zoom-to: 1;
  --duration: 1s;
}

.has_liked:hover {
  transition: border-color var(--duration) var(--ease);
  border-color: hsl(var(--color-has));
}

.has_liked:hover svg,
.has_saved:hover svg {
  fill: hsl(var(--color-has) / 0.5);
  color: hsl(var(--color-has));
}

.has_liked:hover [data-d="thumb"] {
  animation: has-liked-thumb var(--duration) var(--ease) forwards;
}
.has_liked:hover [data-d="sleeves"] {
  animation: has-liked-sleeves var(--duration) var(--ease) forwards;
}

@keyframes has-liked-thumb {
  33.333% {
    transform: rotate(-20deg) translate(1px, 2px) scale(var(--zoom-from));
  }
  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
    d: path(
      "m8.05,11.99c0-.84.28-1.07,1.2-1.25,1.6-.31,2.3-.64,2.9-1.09,0,0,1.64-1.31,2.21-3.11,1.12-3.59,2.11-4.85,3.72-4.85,2.27,0,2.96,2.22,2.55,3.54-.6,1.97-3.81,4.09-3.94,4.99-.07.49.76.72,1.16.72h2.5c1.2,0,2.2,1,2.2,2.2l-1.1,5.6c-.3,1.5-1.02,2.23-2.2,2.2h-7.6c-2,0-3.6-1.6-3.6-3.6v-5.35Z"
    );
  }
  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}

@keyframes has-liked-sleeves {
  33.333% {
    transform: rotate(10deg) translate(6px, -2px) scale(var(--zoom-from));
  }
  66.666% {
    transform: rotate(-10deg) translate(-6px, 0px) scale(var(--zoom-via));
  }
  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}

</style>

</html>